# clang-tidy 6.0.0

---
Checks: "-*  ,\
bugprone-*  ,\
clang-analyzer-*  ,\
cppcoreguidelines-*  ,\
-cppcoreguidelines-pro-bounds-constant-array-index  ,\
-cppcoreguidelines-pro-bounds-pointer-arithmetic  ,\
-cppcoreguidelines-pro-type-member-init  ,\
-cppcoreguidelines-pro-type-reinterpret-cast  ,\
-cppcoreguidelines-pro-type-static-cast-downcast  ,\
-cppcoreguidelines-pro-type-union-access  ,\
modernize-*  ,\
performance-*  ,\
portability-*  ,\
readability-*  ,\
-readability-braces-around-statements  ,\
-readability-implicit-bool-conversion  ,\
"
...
